/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('../archivos/fondo2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: #f4f4f9;
    color: #ffffff;
    overflow-x: hidden;
}

/* Estilos del encabezado */
header {
    height: 120px;
    width: 100%;
    background-image: linear-gradient(150deg, #9500ff, #09f, #00DDFF); /* Cambia los colores según sea necesario */
    line-height: 120px;
    text-align: center;
    color: #fff; /* Texto blanco */
}

header h1 {
    margin: 0;
    font-size: 4em;
}

/* Estilos de la barra de navegación */
nav {
    height: 60px;
    background: #7e7676; 
    line-height: 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: #03e9fa; /* Celeste */
    font-size: 1em;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

nav ul li a:hover {
    background: #ffffff; /* Celeste más claro */
    border-radius: 15px;
}

/* Estilos del contenido principal */
main {
    padding: 2em;
    max-width: 1200px;
    margin: 0 auto;
}

h2, h3 {
    color: #ffffff; /* Texto blanco */
    font-size: 1.5em;
    border-bottom: 2px solid #ffffff; /* Línea inferior blanca */
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    text-align: center; /* Texto centrado */
}

/* Estilos del formulario */
form {
    margin: 4% auto;
    width: calc(100% - 20%);
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #000000;
    text-align: center;
}

/* Estilos de las etiquetas */
label {
    display: inline-block;
    width: 40%;
    font-weight: bold;
    margin-top: 2%;
}

/* Estilos de los campos de entrada y área de texto */
input, textarea, select {
    font-size: 90%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-top: 2%;
    border-radius: 0.5em;
    padding: 0.5em;
}

/* Estilos del marcador de posición */
form input::placeholder, form textarea::placeholder {
    text-align: center;
}

/* Estilos para el Boton */
button {
    border: 0;
    background-image: linear-gradient(150deg, #9500ff, #09f, #00DDFF);
    border-radius: 1em;
    color: #fff;
    font-size: 20px;
    padding: 10px 5px;
    cursor: pointer;
    transition: .3s;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}

button span {
    background-color: #0a0000;
    padding: 7px 10px;
    border-radius: 30px;
    transition: .3s;
}

button:hover span {
    background: none;
}

button:active {
    transform: scale(0.9);
}

/* Estilos de los campos enfocados */
input:focus, textarea:focus, select:focus {
    border-color: #000;
}

/* Estilos del área de texto */
textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead th {
    background-color: #09f;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #7e7676; /* Color de fondo para las filas pares */
}

tbody tr:hover {
    background-color: #6200A9/*#9500ff; /* Color de fondo al pasar el mouse */
}

td, th {
    padding: 12px 15px;
    border: 1px solid #ffffff;
}

/* Estilos para las imágenes dentro de la tabla */
.img-habitacion {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    border-radius: 5px;
}

/* Centrar la tabla dentro del contenedor */
#info-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

table {
    max-width: 800px; /* Ancho máximo de la tabla */
}

h2 {
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

/* Estilos para las imágenes dentro de la tabla */
.img-habitacion {
    width: 100px; /* Tamaño inicial */
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transición suave */
}

/* Efecto de agrandamiento al pasar el mouse */
.img-habitacion:hover {
    transform: scale(3.9); /* Agranda la imagen un 30% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Agrega sombra */
}

/* Efecto de agrandamiento al hacer clic */
.img-habitacion:active {
    transform: scale(1.1); /* Se agranda un poco menos al hacer clic */
}


/* Estilos responsivos */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5em 0;
    }
}
